body {
  padding: 40px;
}

body,
p {
  font-size: 24px;
}

#root {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

#root .one{
  /* background-color: grey; */
  min-height: 500px;
}
