.boxes {
  width: 900px;
  background-color: whitesmoke;
  padding: 1rem;
  display: flex;
}

.boxes .box {
  height: 200px;
  width: 200px;
  margin: 1rem;
  border: 1px solid black;
}

.one {
  background-color: rgb(245, 220, 220);
}

.two input {
  width: 170px;
}

.two {
  background-color: beige;
}

.three {
  background-color: rgb(235, 250, 235);
}

.box {
  padding: 1rem;
}
